# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29


# tests/linter
black
coverage
flake8
pytest


# utilities
six>=1.14

# Web Framework 
flask
bootstrap-flask
Flask-WTF
Flask-SQLAlchemy
email-validator
Flask-Moment
Flask-Migrate
flask-login
alembic
blinker
dominate
click
Mako
MarkupSafe
python-dateutil
python-editor
six
visitor
WTForms
